body {
  background: rgb(115, 155, 180);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-size: 40px;
  font-family: Arial;
  font-family: system-ui;
  color: white;
  text-shadow: 1px 1px 1px black;
  /* animation: 800ms latido infinite; */
  overflow: hidden;
}

/* @keyframes latido {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
} */
